.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.container {
  padding-top: 80px;
}
.card {
  margin-bottom: 30px;
}
.card-footer {
  padding: 10;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
