<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Bovines Divine D&D Diceria</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shopping-cart"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-bag-fill" 
                                viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                            </svg></a>
                    </li>
                    <li ngbDropdown class="nav-item dropdown">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-person-fill"
                                viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg></a>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" routerLink="/login">Login</a>
                            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                            <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
                            <a class="dropdown-item" routerLink="admin/products">Manage Products</a>
                            <a class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex mt-3 mt-lg-0" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<!-- <div class="styles__Root-sc-qrkkyy-0 jFaGWQ cart-button" aria-label="Open cart">
    <div class="styles__Quantity-sc-qrkkyy-2 iRUWGv"></div><svg class="styles__CartIcon-sc-qrkkyy-1 jGieHW"
        viewBox="0 0 18 21" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M4.25819 4.25H3C1.48122 4.25.25 5.48122.25 7v11c0 1.5188 1.23122 2.75 2.75 2.75h12c1.5188 0 2.75-1.2312 2.75-2.75V7c0-1.51878-1.2312-2.75-2.75-2.75h-1.2583c-.36-2.29475-2.3459-4.05005-4.74175-4.05005-2.39584 0-4.38172 1.7553-4.74176 4.05005Zm1.63013 0h6.22328c-.3375-1.40551-1.6026-2.45005-3.11165-2.45005-1.50904 0-2.77411 1.04454-3.11163 2.45005ZM1.75 7c0-.69036.55964-1.25 1.25-1.25h12c.6904 0 1.25.55964 1.25 1.25v11c0 .6904-.5596 1.25-1.25 1.25H3c-.69036 0-1.25-.5596-1.25-1.25V7Z"
            fill="#222"></path>
    </svg>
</div> -->