<!-- using bootstraps navbar example, but using svg's for icon support -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Bovines Divine D&D Diceria</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li *ngIf="currentUser?.username != 'admin'" class="nav-item">
                        <a class="nav-link" routerLink="/shopping-cart"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                            </svg></a>
                    </li>
                    <li ngbDropdown class="nav-item dropdown">
                        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-person-fill"
                                viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg></a>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                            <div *ngIf="currentUser != undefined; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>
                                <a class="dropdown-item" routerLink="/login">{{ currentUser?.username }}</a>
                                <button *ngIf="currentUser?.username != 'Guest'" (click)="logout()" class="dropdown-item">Logout</button>
                            </ng-template>
                            <ng-template #elseBlock>
                                <a class="dropdown-item" routerLink="/login">Login</a>
                            </ng-template>
                            <a *ngIf="currentUser?.username != 'Guest'" class="dropdown-item" routerLink="/my/orders">My Orders</a>
                            <a *ngIf="currentUser?.username === 'admin'" class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
                            <a *ngIf="currentUser?.username === 'admin'" class="dropdown-item" routerLink="admin/products">Manage Products</a>
                        </div>
                    </li>
                </ul>
                <div id="search-component">
                    <input #searchBox id="search-box" placeholder="Search" (input)="search(searchBox.value)" />
                    <ul class="search-result">
                        <li *ngFor="let product of products$ | async">
                            <a routerLink="/detail/{{product.id}}">
                                {{product.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>