<div class="padding">
    <p>
        <a routerLink="/admin/products/new" class="btn btn-secondary">New Product</a>
    </p>
    <p>
        <input #query type="text" class="form-control" placeholder="Search..." (keyup)="search(query.value)">
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="query.value === ''; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <tr *ngFor="let p of products">
                    <th> {{p.name}} </th>
                    <th> {{p.qty}} </th>
                    <th> {{p.price}} </th>
                    <th>
                        <button type="button" class="Delete" title="delete product" (click)="delete(p)">Delete</button>
                    </th>
                    <!-- <td>
                        <a [routerlink]="['/admin/products/new/', p.id]"></a>
                    </td> -->
                </tr>                
            </ng-template>
            <ng-template #elseBlock>
                <tr *ngFor="let p of products$ | async">
                    <td> {{p.name}} </td>
                    <td> {{p.qty}} </td>
                    <td> {{p.price}} </td>
                    <td>
                        <button type="button" class="Delete" title="delete product" (click)="delete(p)">Delete</button>
                    </td>
                </tr>      
            </ng-template>
        </tbody>
    </table>
</div>