<div class="padding">
    <div class="row">
        <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="Save(f.value)">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input #name="ngModel" [(ngModel)]="currentProduct.name" name="name" id="name" type="text"
                        class="form-control" required>
                    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                        Name is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input #quantity="ngModel" [(ngModel)]="currentProduct.qty" name="qty" id="quantity" type="number"
                        class="form-control" required>
                    <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
                        Quantity is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input #price="ngModel" [(ngModel)]="currentProduct.price" name="price" id="price" type="number"
                            class="form-control" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                        Price is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input #description="ngModel" [(ngModel)]="currentProduct.description" name="description"
                        id="description" type="text" class="form-control">
                    <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                        Description is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="url">Image URL</label>
                    <input #url="ngModel" [(ngModel)]="currentProduct.url" name="url" id="url" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="url.touched && url.invalid">
                        Url is required.
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="container text-left">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <img [src]="url.value" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">{{ name.value }}</h4>
                                <p class="card-text">{{ price.value | currency: 'USD' : true }}</p>
                                <p class="card-text">{{ description.value }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>