<body class="padding">
  <h2>My Orders</h2>
  <table>
    <tr>
      <th>Order</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Fulfilled</th>
    </tr>
    <tr *ngFor="let order of orders" #refEl (click)="toggleRow(refEl)">
      <td>{{ order.uuid }}</td>
      <td>{{ order.size }}</td>
      <td>{{ order.price | number: "1.1" }}</td>
      <td>{{ order.fulfilled ? true : false }}</td>
      <td class="expanded-row-content hide-row">
        <table class="table-inner">
          <tr *ngFor="let p of order.products">
            <td>{{ p.name }}</td>
            <td>{{ p.qty }}</td>
            <td>{{ p.price | number: "1.1" }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
