

<!-- This uses bootstraps card system, and their column row alignment system
     for the ideal level of prettyness -->
<div class="container text-left">
  <div class="row row-cols-4">
    <div *ngFor="let product of products" class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">{{product.price | currency: 'USD' : true }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>