.login {
    min-height: 103vh;
  }
  
  .bg-image {
    background-image: url('https://c1.staticflickr.com/7/6215/6225404635_9a6b9c70b3_b.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 350;
  }
  
  .btn-login {
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    padding: 0.76rem 1rem;
  }