table {
  display: flex-center;
  border: none;
  border-top: 1px solid #eeeeee;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.table-inner {
  display: flexbox;
  border: none;
  border-top: 1px solid #eeeeee;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #eeeeee;
  border-top: none;
  text-align: left;
  padding: 8px;
  color: #363d41;
  font-size: 14px;
}

tr {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: flex-start;
}

tr:first-child:hover {
  cursor: default;
  background-color: #fff;
}

tr:hover {
  background-color: #eef4fd;
}

.expanded-row-content {
  border-top: none;
  display: grid;
  grid-column: 1/-1;
  justify-content: flex-start;
  color: #aeb1b3;
  font-size: 13px;
  background-color: #fff;
}

.hide-row {
  display: none;
}
